[access "refs/*"]
	owner = group webrtc-admins
[access "refs/gnumbd-config/main"]
	create = group mdb/chrome-git-admins
	create = group webrtc-admins
	push = group mdb/chrome-git-admins
	push = group webrtc-admins
[access "refs/gsubtreed-config/main"]
	create = group mdb/chrome-git-admins
	create = group webrtc-admins
	push = group mdb/chrome-git-admins
	push = group webrtc-admins
