[access "refs/*"]
	owner = group webrtc-admins
[access "refs/gnumbd-config/main"]
	create = group mdb/chrome-git-admins
	create = group webrtc-admins
	push = group mdb/chrome-git-admins
	push = group webrtc-admins
[access "refs/branch-heads/*"]
	push = group webrtc-committers
[access "refs/heads/*"]
	push = group webrtc-committers
