[access "refs/*"]
	owner = group webrtc-admins
[access "refs/gnumbd-config/main"]
	create = group mdb/chrome-git-admins
	create = group webrtc-admins
	push = group mdb/chrome-git-admins
	push = group webrtc-admins
[access "refs/gsubtreed-config/main"]
	create = group mdb/chrome-git-admins
	create = group webrtc-admins
	push = group mdb/chrome-git-admins
	push = group webrtc-admins
[access "refs/branch-heads/*"]
	create = group git-numbering-bot
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
[access "refs/heads/*"]
	create = group git-numbering-bot
	forgeAuthor = group git-numbering-bot
	forgeCommitter = group git-numbering-bot
	push = group git-numbering-bot
[access "refs/pending-tags/*"]
	create = group git-numbering-bot
	create = group mdb/chrome-git-admins
	forgeAuthor = group git-numbering-bot
	forgeAuthor = group mdb/chrome-git-admins
	forgeCommitter = group git-numbering-bot
	forgeCommitter = group mdb/chrome-git-admins
	push = group git-numbering-bot
	push = group mdb/chrome-git-admins
[access "refs/pending/*"]
	create = group mdb/chrome-git-admins
	forgeAuthor = group mdb/chrome-git-admins
	forgeCommitter = group mdb/chrome-git-admins
	push = group mdb/chrome-git-admins
	push = group webrtc-committers
[access "refs/for/*"]
	create = group mdb/chrome-git-admins
	forgeAuthor = group mdb/chrome-git-admins
	forgeCommitter = group mdb/chrome-git-admins
	push = +force group mdb/chrome-git-admins
[access "refs/pending/branch-heads/*"]
	create = group mdb/chrome-git-admins
	forgeAuthor = group mdb/chrome-git-admins
	forgeCommitter = group mdb/chrome-git-admins
	push = group mdb/chrome-git-admins
	push = group webrtc-committers
